/* Reset default browser styles */
 h1, h2, h3, p, ul, li {
    margin:25px 50px;
    padding: 0;
    color: #b38a28;

  }

  body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
    background-color: #161616;
  }

  /* font */
    
  
  /* Header styles */
  header {
    background-color: #b38a28;
    padding: 20px;
    background-color: #b38a28;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
nav a img {
    width: 125px;

}
  .logo {
    font-weight: bold;
    font-size: 24px;
  }
  
  /* Hero section styles */
  .hero {
    text-align: center;
    background-color: #161616;
    background-size: cover;
    background-image: url(YA.png);
    height: 100vh;
    
    overflow: hidden;
    position: relative;
    align-items: center;
  }
  
  .hero p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
  }
  
  .cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  }
  /* intro section starts here */
  .intro {
    text-align: center;
    background-color: #b38a28;
    background-size: cover;
    background-image: url(Image.jpeg);
    height: 100vh;
    
    overflow: hidden;
    position: relative;
    align-items: center;
  }
  .intro h1{
    font-size: 36px;
    margin-bottom: 20px;

  }
  .intro p{
    font-size: 18px;
    color: #000;
    margin-bottom: 40px;
  }
  /* intro section starts here */
  
  /* Why Choose Us section styles */
  .why-choose-us {
    padding: 80px 0;
    text-align: center;
    color: #666;
  }
  
  .why-choose-us h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }
  
  .reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .reason {
    flex-basis: 48%;
    margin-bottom: 40px;
  }
  
  .reason h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #666;
  }

  .reason h2{
    color: #666;
  }
  
  .reason p {
    font-size: 16px;
    color: #666;
  }
  
  /* Footer styles */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

 
  
  
  
  .footer {
    position: relative;
    width: 100%;
    background: #b38a28;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #000;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  
  .footer img{
    width: 120px;
  }
  .footer p {
    color: #000;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #000;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #000;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  
  

  
  


  
  




/* shop webpage starts */
  /* .card {
    
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #333;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: calc(75% - 15px); /* Adjust the width as needed */
  margin-bottom: 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
  }
  
.card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity .3s ease-out;
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}

.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity .2s ease-out;
}

.card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset .3s .3s ease-out;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.card p {
  inset: auto auto 80px 30px;
}
  

.card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset .3s ease-out;
}
.card:hover p {
  opacity: 1.5;
  transition: opacity .5s .1s ease-in;
}
.card:hover a{
  opacity: 1.5;
  transition: opacity .5s .1s ease-in;
}

.material-symbols-outlined {
  vertical-align: middle;
} 

.card:hover img {
  transition: opacity .3s ease-in;
  opacity: 1;
} */

/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  overflow-x: auto;
  } */
  

  /* shop webpage starts
 



/* gallery section ends here  */

/* single product page */
 .col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 50%; 
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: rgb(167, 14, 14);
}
.title::after{
  content: '';
  background: #16537e;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.col-4 p {
  font-size: 14px;
}
.col-4:hover{
  transform: translateY(-5px);
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.small-img-row{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer; 
}
.single-product{
  margin-top: 80px;
}
.single-product .col-2 img{
  padding: 0;
}
.single-product .col-2{
  padding: 20px;
}
.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #b38a28;
}
input:focus{
  outline: none;
}

.single-product.fa{
  color: #b38a28;
  margin-left: 10px;
  
}
.small-img-row{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
  
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  width: 350%;
  padding: 50px 0;
  
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  color: #b38a28;

}
.col-2 h4{
  color: #b38a28;
}
.btn {
  display: inline-block;
  display: #000;
  color: #000;
  background: #16537e;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: backgroung 0.5s;
}
.btn:hover{
  background: #b38a28;
}
.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}
.select-size-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
} 
/* single product page ends */
  
/* gallery section starts here  */

/* gallery section starts here  */

.gallery .galleryContainer {
  column-count: 4;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
  overflow-x: auto;
  }

.gallery .galleryContainer .items{
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.gallery .galleryContainer img{
  width: 75%;
  height: 100%;
  display: block;
  transition: 0.4s;
}
.gallery .galleryContainer .galleryTitle{
  position: absolute;
  background-color: var(--gray);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  opacity: 0;
  z-index: 1;
  transition: 0.4s;
}

.gallery .galleryContainer .galleryTitle:hover .galleryTitle{
  opacity: 1;
}
.gallery .galleryContainer .item:hover img{
  transform: scale(1.2)
} 

/* contact page starts */
.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(YA.png);
  background-size: cover;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #b38a28;
}
.contact .content p{
  font-weight: 300;
  color: #b38a28;
}
.contactContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contactContainer .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactContainer .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contactContainer .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #b38a28;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.contactContainer .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #b38a28;
  flex-direction: column;
  font-weight: 300;
}
.contactContainer .contactInfo .box .text h3{
  font-weight: 500;
  color: #666;
}
.contactForm{
  position: center;
  width: 40%;
  padding: 40px;
  background-color: #b38a28;
}
.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0 ;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0 ;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus~ span,
.contactForm .inputBox input:valid~ span,
.contactForm .inputBox textarea:focus~ span,
.contactForm .inputBox textarea:valid~ span{
  color: #666;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input [type="submit"] {
  width: 100px;
  background: #00bcd4;
  cursor:pointer;
  boarder: none;
  color: #fff;
  padding: 10px;
  font-size: 18px; 
}

@media (max-width:991px){
  .contact{
    padding: 50px;
  }
  .contactContainer{
    flex-direction:column ;
  }
  .contactContainer .contactInfo{
    margin-bottom: 40px;
  }
  .contactContainer .contactInfo, .contactForm{
    width: 100%;
  }
}
/* contact page starts */

/* new shop style */
.container{
  width: 80vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header{
  width: 100%;
  text-align: center;
}
.header h1{
  font-size: 4em;
  text-transform: uppercase;
  color: #b38a28;
}
.products{
  width: 100%;
  align-self: center;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.product{
  position: relative;
  background-color: #b38a28;
  width: 350px;
  height: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
  border-radius: 10px;
  transition: .3s;
}
.product:hover{
  transform: translateY(-15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.image{
  width:100%;
  height: 60%;
  display: grid;
  place-content: center;
}
.image img{
  width: 240px;
}
.namePrice{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.namePrice h3{
  font-size: 2em;
  text-transform: capitalize;
  color: #000;
}
.namePrice span{
  font-size: 1.5em;
  color: #000;
}
.product p{
  font-size: 18px;
  line-height: 25px;
}
.stars svg{
  font-size: 1.3em;
  color: var(--starColor);
}
.bay{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.bay button{
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: #b38a28;
  color: #000;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition: .5s;
}
.bay button:hover{
  transform: scale(1.1);
}
